* {
    box-sizing: border-box;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 300;
    font-family: sans-serif;
}

#board {
    padding: 1rem;
    height: 600px;
    width: 600px;
    grid-column: 2 / span 2;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    justify-self: center;
}

.board-square {
    border: 2px solid black;
    height: 100%;
    width: 100%;
    font-size: 3rem;
    transition: 0.2s;

    /* Align center */
    display: grid;
    align-content: center;
    justify-content: center;
}

.board-square.winning-square {
    background-color: greenyellow;
}

.board-square.filled:hover {
    background-color: tomato;
}

.board-square:not(.filled):hover {
    background-color: grey;
}


/* Board Borders */
/* First Column */
.board-square:nth-child(3n + 1) {
    border-left: 0px;
}

/* Last Column */
.board-square:nth-child(3n) {
    border-right: 0px;
}

/* First Row */
.board-square:nth-child(-n + 3) {
    border-top: 0px;
}

/* Last Row */
.board-square:nth-child(n + 7) {
    border-bottom: 0px;
}

/* Game Display */
#game {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#game-info {
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
}

#result {
    margin-top: 3rem;
}

#user-input-panel {
    margin: 3rem 0rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Game controls */
button {
    border: 0;
    margin: 0.25rem;
    padding: 1rem 2rem;
    background-color: #141414;
    color: white;
    transition: 0.2s;
    font-weight: 500;
    border-radius: 12px;
}

button:first-child {
    margin-top: 0;
}

button:disabled {
    opacity: 0.4;
}

button:not(:disabled):hover {
    background-color: teal;
}


/* player-info inputs */
label {
    font-size: 1.2rem;
    font-weight: 500;
}

.form-input {
    margin: 1rem 2rem;
}
input[type='text'] {
    margin-left: 2rem;
    font-size: 1.2rem;
    padding: 0.25rem 1rem;
    border-radius: 12px;
}